<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MCBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MCBot.Properties.Settings>
      <setting name="ip" serializeAs="String">
        <value>104.193.181.10</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>35150</value>
      </setting>
      <setting name="url" serializeAs="String">
        <value>tea.mc.gg</value>
      </setting>
      <setting name="useurl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StaffApplicationTitle" serializeAs="String">
        <value>TeaCraft Staff Application</value>
      </setting>
      <setting name="StaffApplicationDescription" serializeAs="String">
        <value>This is the staff application where you can apply for almost any role. using the layout that is provided. Note that the application must be in this layout.</value>
      </setting>
      <setting name="StaffApplicationColor" serializeAs="String">
        <value>Fuchsia</value>
      </setting>
      <setting name="StaffApplicationFooter" serializeAs="String">
        <value>We hope you enjoy your time on our server.</value>
      </setting>
      <setting name="StaffApplicationIcon" serializeAs="String">
        <value>https://cdn.discordapp.com/attachments/408720100279975938/523205251910598690/unnamed.png</value>
      </setting>
      <setting name="StaffChannelID" serializeAs="String">
        <value>521027082952769554</value>
      </setting>
      <setting name="TCGuild" serializeAs="String">
        <value>480494199393746964</value>
      </setting>
    </MCBot.Properties.Settings>
  </userSettings>
</configuration>
